:root {
	--navBar-height: 56px;
	--fbSideBar-width: 266px;
	--fds-duration-extra-extra-short-in:100ms;
	--fds-animation-fade-in:cubic-bezier(0,0,1,1);
	--card-corner-radius:8px;
	--button-height-medium:36px;
	--button-corner-radius:6px;
	--input-border-width:1px;
	--input-corner-radius:6px;
    --input-border-color-focus: #1E6BD6;
	--flash-message-text-title: #282c36;
	--flash-message-text-message: #61656d;
	--flash-message-success-clr: #35d39d;
	--flash-message-success-bg-clr: #e4fcf3;
	--flash-message-info-clr: #00d0ea;
	--flash-message-info-bg-clr: #e5fafd;
	--flash-message-warning-clr: #ffc12e;
	--flash-message-warning-bg-clr: #fff9ea;
	--flash-message-error-clr: #ef4d61;
	--flash-message-error-bg-clr: #fdedef;

}

:root,[data-theme="light"] {
	--navbar-link-text: #65676B;
	--navbar-link-text-active: hsl(214, 100%, 59%);
	--navbar-link-background-hover: rgba(29,29,29,.1);
	--primary-background: #fff;
	--primary-text:#050505;
	--primary-text2:#E4E6EB;
	--nav-bar-background:#FFFFFF;
	--wash:#E4E6EB;
	--web-wash:#F0F2F5;
	--hover-overlay:rgba(0,0,0,0.05);
	--sidebar-link-active: #eaf3ff;
	--overlay-alpha-90:rgba(11, 11, 11, 0.8);
	--shadow-5:rgba(0,0,0,0.5);
	--media-inner-border:rgba(0,0,0,0.1);
	--shadow-1:rgba(0,0,0,0.1);
	--shadow-2:rgba(0,0,0,0.2);
	--shadow-5:rgba(0,0,0,0.5);
	--shadow-8:rgba(0,0,0,0.8);
	--filter: none;
	--checkbox-border: #ced0d4;
	--select_arrow: url("data:image/svg+xml;utf8,%3Csvg fill='black' height='34' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E") no-repeat right;
	--card-background:#FFFFFF;
	--checkbox-border: #ced0d4;
	--checkbox-border-hover: #8a8d91;
	--secondary-text:#65676B;
    --fds-fast:200ms;
	--fds-soft:cubic-bezier(.08,.52,.52,1);
	--primary-text:#050505;
	--card-background:#FFFFFF;
	--card-box-shadow:0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1);
	--filter-primary-icon:invert(8%) sepia(10%) saturate(200%) saturate(200%) saturate(166%) hue-rotate(177deg) brightness(104%) contrast(91%);
	--filter-accent:invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg) brightness(97%) contrast(96%);
	--disabled-button-background:#E4E6EB;
	--disabled-button-text:#BCC0C4;
	--primary-button-background:#1B74E4;
	--primary-button-background-hover:rgb(26,110,216);
	--primary-button-text:#FFFFFF;
	--secondary-button-background:#E4E6EB;
	--secondary-button-background-hover:rgb(216,218,223);
	--secondary-button-text:#050505;
	--card-background-flat:#F7F8FA;
    --input-background:#FFFFFF;
    --input-background-disabled:#F0F2F5;
    --input-border-color:#CED0D4;
	--placeholder-text:#65676B;
    --input-border-color-hover:var(--placeholder-text);
    --input-label-color-highlighted:hsl(214, 89%, 52%);
	--input-date-icon-color: invert(0);
}

[data-theme="dark"] {
	--navbar-link-text:#E4E6EB;
	--navbar-link-text-active: hsl(214, 100%, 59%);
	--navbar-link-background-hover: hsl(210deg 1.69% 23.14%);
	--primary-background: #242526;
	--primary-text:#E4E6EB;
	--primary-text2:#050505;
	--nav-bar-background:#242526;
	--wash:#3E4042;
	--web-wash:#18191A;
	--hover-overlay:rgba(255,255,255,0.1);
	--sidebar-link-active: #252f3c;
	--overlay-alpha-90:rgba(244, 244, 244, 0.8);
	--shadow-5:rgba(0,0,0,0.5);
	--media-inner-border:rgba(255,255,255,0.05);
	--shadow-1:rgba(0,0,0,0.1);
	--shadow-2:rgba(0,0,0,0.2);
	--shadow-5:rgba(0,0,0,0.5);
	--shadow-8:rgba(0,0,0,0.8);
	--filter: invert(100%);
	--checkbox-border: #3e4042;
	--select_arrow: url("data:image/svg+xml;utf8,%3Csvg fill='grey' height='34' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E") no-repeat right;
	--card-background:#242526;
	--checkbox-border: #3e4042;
	--checkbox-border-hover: #8a8d91;
	--secondary-text:#B0B3B8;
	--fds-soft:cubic-bezier(.08,.52,.52,1);
	--primary-text:#E4E6EB;
	--card-background:#242526;
	--card-box-shadow:0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1);
	--filter-primary-icon:invert(89%) sepia(6%) hue-rotate(185deg);
	--filter-accent:invert(40%) sepia(52%) saturate(200%) saturate(200%) saturate(200%) saturate(189%) hue-rotate(191deg) brightness(103%) contrast(102%);
	--disabled-button-background:rgba(255,255,255,0.2);
	--disabled-button-text:rgba(255,255,255,0.3);
	--primary-button-background:#2374E1;
	--primary-button-background-hover:rgb(57,130,228);
	--primary-button-text:#FFFFFF;
	--secondary-button-background:rgba(255,255,255,.1);
	--secondary-button-background-hover:rgb(78,79,80);
	--secondary-button-text:#E4E6EB;
	--card-background-flat:#323436;
    --input-background:#242526;
    --input-background-disabled:#18191A;
    --input-border-color:#3E4042;
	--placeholder-text:#8A8D91;
    --input-border-color-hover:var(--placeholder-text);
    --input-label-color-highlighted:hsl(214, 100%, 59%);
	--input-date-icon-color: invert(100%);
}
